html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: cornflowerblue;
}

body {
  --a: slategray;
  --b: transparent;
  --size: 16px;

  box-sizing: border-box;
  padding: 1em;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      45deg,
      var(--a) 25%,
      var(--b) 25%,
      var(--b) 75%,
      var(--a) 75%,
      var(--a)
    ),
    linear-gradient(
      45deg,
      var(--a) 25%,
      var(--b) 25%,
      var(--b) 75%,
      var(--a) 75%,
      var(--a)
    );
  background-position:
    0 0,
    var(--size) var(--size);
  background-size: calc(var(--size) * 2) calc(var(--size) * 2);
}

form {
  background-color: white;
}

canvas {
  --width: 0;
  --height: 0;
  border: 1px solid black;
  width: calc(var(--width) * 1em);
  height: calc(var(--height) * 1em);
  image-rendering: pixelated;
}

article {
  display: flex;
  flex-direction: column;
}
